h1{
    color : blue;
    font-family: "Times New Roman";
}
p {
    font-family: "American Typewriter";
}
#alinea1 {
    color : green;
    font-weight: bold;
}
#alinea2 {
    color : darkcyan;
}
body {
    background-image: url("img/Schermafbeelding 2023-10-13 153337.png");
    background-size: cover;
}
h2 {
    color: blue;
    font-family: "Times New Roman";
}