#foto{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    align-items: center;
}
#car {
    width: 50%;
}
body{
    height: 100vh;
    text-decoration: none;
}
header{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12%;
}
#emb{
    height: 100%;
    max-width: 10%;
    position: sticky;
    left: 45%;
    top: 5%;
    transform: scale(1);
    transition-duration: 0.5s;
}
#emb:hover{
    transform: scale(1.1) rotate(10deg);
    transition-duration: 0.5s;
}
p{
    font-size: larger;
    font-weight:bold;
    text-align: center;
    margin: 10px;
}
.tekst{
    font-size: medium;
    font-weight: 200;
    text-align: center;
    
}
#robin{
    position: fixed;
    z-index: 1;
    top: 2%;
    max-height: 100px;
    left:15%;
    opacity:0;
    transition: opacity 0.5s;
}
#robin:hover{
    opacity:1;
    transition: opacity 0.5s
}

* {
    height:auto;
    padding:0; margin: 0;
}
