header{
    width: 100%;
    position: fixed;
    height: 12%;
    background-color: gray;
}
#logo { 
    height: 12%;
    position: fixed;
    max-width: 10%;
    left: 45%;
}
body {
    height: 100%;
    align-items: flex-end;
}
#container1 {
    height: 100%;
    width: auto;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.gen1 {
    height: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}
#alfred{
    height: 100%;
    margin-left: 5px;
    
}
#martha {
    height: 100%;
    
}
#thomas {
    height: 100%;
    
}
#bruce {
    height: 100%;
    margin-left: 5px;   
}
#dick{
    height: 100%;
    margin-left: 5px;
}
* {
    width: 100%;
    height: auto;
    padding: 0; margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;
}
