header{
    width: 100%;
    position: fixed;
    height: 12%;
    background-color: gray;
}
#logo { 
    height: 12%;
    position: fixed;
    max-width: 10%;
    left: 45%;
}
body{
    height:100vh;
}
* {
    padding: 0;
    margin: 0;
}